#searchbar {
    background-color: #373737;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

#searchbox {
    min-width: 120px;
    max-width: 20%;
    background-color: rgb(230, 230, 230);
    display: flex;
    border-radius: 20px;
    padding: 8px;
    margin-left: 5px;
    z-index: 1;
}

#searchbox input {
    font-size: medium;
    width: 90%;
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

#searchbox input:focus {
    outline: none;
}

#searchbox button {
    font-size: medium;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#postTitle {
    display: block;
    font-size: 2vh;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(226, 226, 226);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}